<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script type="text/javascript" src="scripts.js"></script>
</head>

<body>
  <h1>THIS IS MY ATTEMPT TO USE HANDLEBARS AND EXPRESS</h1>

  <h2>{{name}} is pretty neat.</h2>

  <h3>{{albums}}</h3>
</body>